/* #region Common */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --zoom-dark: rgba(34, 34, 34, 1);
    --zoom-darker: rgba(0, 0, 0, 1);
    --zoom-share:  rgba(75, 200, 0, 1);
    --zoom-close: rgba(231, 25, 40, 1);
}

body{
    background-color: var(--zoom-darker);
}

/* #endregion Common */

/* #region Utilities */
.container {
    width: 90%;
    height: 90vh;
    margin: auto;
    margin-top: 2.5rem;
}
.row {
    display: flex;
    flex-wrap: wrap;
}

.column-7{
    width: calc((100%/14) *2);
    padding: 0.3rem 0.15rem;
}
.img-card{
    position: relative;
}
.user-name{
    background-color: lightgray;
    color: white;
    font-size: 0.5rem;
    padding: 0.2rem;
    position: absolute;
    bottom: 0.2rem;
    left: 0;
}
.icon{
    padding: 1rem;
    text-align: center;
}

/* #endregion Utilities */

/* Site-header */

/* Site-main */
.top-badge{
    color: white;
    display: flex;
    justify-content: flex-end;
}
.speaker_view{
    margin: 0.3rem;
    background-color: lightgray;
    padding:  0.3rem 0.3rem;
    margin-right: 0.3rem;
    border-radius: 0.3rem;   
    font-size: 0.5rem;
}
.arrows{
    margin: 0.3rem;
    background-color: lightgray;
    padding:  0.1rem;
    margin-right: 0.3rem;
    border-radius: 0.3rem; 
}
   
/* Site-footer */
#site-footer{
    background-color: var(--zoom-dark);
    color: white;
    width: 100%;
    height: 60px;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-nav{
    display: flex;
    align-items: center;
}
.center-nav{
    
}
.right-nav{
    
}