/* #region Common */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --zoom-dark: rgba(34, 34, 34, 1);
    --zoom-darker: rgba(0, 0, 0, 1);
    --zoom-share:  rgba(75, 200, 0, 1);
    --zoom-close: rgba(231, 25, 40, 1);
}

body{
    /* background-color: var(--zoom-darker); */
}

/* #endregion Common */

/* #region Utilities */
.container {
    width: 90%;
    height: 90vh;
    margin: auto;
    margin-top: 2.5rem;
}
.row {
    display: flex;
    flex-wrap: wrap;
}

.column-7{
    width: calc((100%/14) *2);
    padding: 0.3rem 0.15rem;
}
.img-card{
    position: relative;
}
.user-name{
    background-color: lightgray;
    color: white;
    font-size: 0.5rem;
    padding: 0.2rem;
    position: absolute;
    bottom: 0.2rem;
    left: 0;
}

/* #endregion Utilities */

/* Site-header */

/* Site-main */


   
/* Site-footer */